body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* 为所有按钮设置样式 */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}

/* 浮动取消和删除按钮并添加等宽 */
.cancelbtn, .deletebtn {
    float: left;
    width: 50%;
}

/* 为取消按钮添加颜色 */
.cancelbtn {
    background-color: #ccc;
    color: black;
}

/* 为删除按钮添加颜色 */
.deletebtn {
    background-color: #f44336;
}

/* 向容器添加填充和居中对齐文本 */
.container {
    padding: 16px;
    text-align: center;
}

/* 模态（背景）*/
.modal {
    display: none; /* 默认隐藏 */
    position: fixed; /* 留在原地 */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* 全屏宽度 */
    height: 100%; /* 全高 */
    overflow: auto; /* 如果需要启用滚动 */
    background-color: #474e5d;
    padding-top: 50px;
}

/* 模态内容/框 */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 距顶部 5%，距底部 15% 并居中 */
    border: 1px solid #888;
    width: 80%; /* 可以多也可以少，取决于屏幕尺寸 */
}

/* 设置水平标尺的样式 */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* 模态关闭按钮 (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

/* 清除浮动 */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* 更改超小屏幕上取消按钮和删除按钮的样式 */
@media screen and (max-width: 300px) {
    .cancelbtn, .deletebtn {
        width: 100%;
    }
}
