<component name="libraryTable">
  <library name="Spring-MVC-MMS整合包">
    <CLASSES>
      <root url="file://$USER_HOME$/Desktop/jar包/Java阶段的jar包/Spring-MVC-MMS整合包" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
    <jarDirectory url="file://$USER_HOME$/Desktop/jar包/Java阶段的jar包/Spring-MVC-MMS整合包" recursive="false" />
  </library>
</component>